<% content_for :sidebar do %>

    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
      <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu">
          <li class="sidebar-toggler-wrapper">
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <div class="sidebar-toggler hidden-phone">
            </div>
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
          </li>
          <li class="sidebar-search-wrapper">
            <form class="sidebar-search" action="#" id='searchForm'>
              <div class="form-container">
                <div class="input-box">
                  <a href="javascript:;" class="remove"></a>
                  <input id='query' type="text" placeholder="Search..."/>
                  <input type="button" class="submit" value=" "/>
                </div>
              </div>
            </form>
          </li>
          <li id="conceptsTree">
            <a href="javascript:;">
            <i class="fa fa-lightbulb-o"></i>

            <span class="title">
               CONCEPTS
            </span>
            <span id="conceptsSelected"></span>
            <span id="conceptsArrow"></span>
            </a>
            <ul class="sub-menu">
              <li>
                <a href="/docs/concepts/overview.html">
                  Overview
                </a>
              </li>
              <li>
                <a href="/docs/concepts/messages.html">
                  Messages
                </a>
              </li>
              <li>
                <a href="/docs/concepts/principals.html">
                  Principals
                </a>
              </li>
              <li>
                <a href="/docs/concepts/service.html">
                  Services & Sessions
                </a>
              </li>
              <li>
                <a href="/docs/concepts/permissions.html">
                  Permissions
                </a>
              </li>
              <li>
                <a href="/docs/concepts/commands.html">
                  Commands
                </a>
              </li>
              <li>
                <a href="/docs/concepts/reactor.html">
                  Reactor
                </a>
              </li>
            </ul>
          </li>
          <li id='clientLibraryTree'>
            <a href="javascript:;">
            <i class="fa fa-cogs"></i>

            <span class="title">
               CLIENT LIBRARY
            </span>
            <span id="clientLibrarySelected"></span>
            <span id="clientLibraryArrow"></span>
            </a>
            <ul class="sub-menu">
              <li>
                <a href="/docs/nitrogen/index.html">
                  Overview
                </a>
              </li>
              <li>
                <a href="/docs/nitrogen/blob.html">
                  Blob
                </a>
              </li>
              <li>
                <a href="/docs/nitrogen/commandManager.html">
                  CommandManager
                </a>
              </li>
              <li>
                <a href="/docs/nitrogen/message.html">
                  Message
                </a>
              </li>
              <li>
                <a href="/docs/nitrogen/permission.html">
                  Permission
                </a>
              </li>
              <li>
                <a href="/docs/nitrogen/principal.html">
                  Principal
                </a>
              </li>
              <li>
                <a href="/docs/nitrogen/service.html">
                  Service
                </a>
              </li>
              <li>
                <a href="/docs/nitrogen/session.html">
                  Session
                </a>
              </li>
            </ul>
          </li>
          <li id="schemasTree">
            <a href="javascript:;">
            <i class="fa fa-cogs"></i>

            <span class="title">
               MESSAGE SCHEMAS
            </span>
            <span id="schemasSelected"></span>
            <span id="schemasArrow"></span>
            </a>
            <ul class="sub-menu">
              <li>
                <a href="/docs/schemas/cameraCommand.html">
                  cameraCommand
                </a>
              </li>
              <li>
                <a href="/docs/schemas/claim.html">
                  claim
                </a>
              </li>
              <li>
                <a href="/docs/schemas/heartbeat.html">
                  heartbeat
                </a>
              </li>
              <li>
                <a href="/docs/schemas/image.html">
                  image
                </a>
              </li>
              <li>
                <a href="/docs/schemas/ip.html">
                  ip
                </a>
              </li>
              <li>
                <a href="/docs/schemas/log.html">
                  log
                </a>
              </li>
              <li>
                <a href="/docs/schemas/pressure.html">
                  pressure
                </a>
              </li>
              <li>
                <a href="/docs/schemas/switchCommand.html">
                  switchCommand
                </a>
              </li>
              <li>
                <a href="/docs/schemas/reactorCommand.html">
                  reactorCommand
                </a>
              </li>
              <li>
                <a href="/docs/schemas/temperature.html">
                  temperature
                </a>
              </li>
            </ul>
          </li>

          <li id="devicesTree">
            <a href="javascript:;">
            <i class="fa fa-cogs"></i>

            <span class="title">
               DEVICES
            </span>
            <span id="devicesSelected"></span>
            <span id="devicesArrow"></span>
            </a>
            <ul class="sub-menu">
              <li>
                <a href="/docs/devices/camera.html">
                  camera
                </a>
              </li>
            </ul>
          </li>

          <li id="managersTree">
            <a href="javascript:;">
            <i class="fa fa-cogs"></i>

            <span class="title">
               COMMAND MANAGERS
            </span>
            <span id="managersSelected"></span>
            <span id="managersArrow"></span>
            </a>
            <ul class="sub-menu">
              <li>
                <a href="/docs/managers/cameraManager.html">
                  CameraManager
                </a>
              </li>
            </ul>
          </li>
          <li id="toolssTree">
            <a href="javascript:;">
            <i class="fa fa-cogs"></i>

            <span class="title">
               Tools
            </span>
            <span id="toolsSelected"></span>
            <span id="toolssArrow"></span>
            </a>
            <ul class="sub-menu">
              <li>
                <a href="/docs/tools/n2.html">
                  n2 - command line tool
                </a>
              </li>
            </ul>
          </li>

        </ul>
        <!-- END SIDEBAR MENU -->
      </div>
    </div>
    <!-- END SIDEBAR -->

<% end %>

<% wrap_layout :layout do %>
    <%= yield %>
<% end %>