<% content_for :sidebar do %>

    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
      <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu">
          <li class="sidebar-toggler-wrapper">
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <div class="sidebar-toggler hidden-phone">
            </div>
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
          </li>
          <li class="sidebar-search-wrapper">
            <form class="sidebar-search" action="#" id='searchForm'>
              <div class="form-container">
                <div class="input-box">
                  <a href="javascript:;" class="remove"></a>
                  <input id='query' type="text" placeholder="Search..."/>
                  <input type="button" class="submit" value=" "/>
                </div>
              </div>
            </form>
          </li>
          <li class="active">
            <a href="javascript:;">
            <i class="fa fa-lightbulb-o"></i>

            <span class="title">
               CONCEPTS
            </span>
            <span id="conceptsSelected"></span>
            <span id="conceptsArrow"></span>
            </a>
            <ul class="sub-menu">
              <li>
                <a href="/docs/concepts/messages.html">
                  Messages
                </a>
              </li>
              <li>
                <a href="/docs/concepts/principals.html">
                  Principals
                </a>
              </li>
              <li>
                <a href="/docs/concepts/service.html">
                  Services & Sessions
                </a>
              </li>
              <li>
                <a href="/docs/concepts/permissions.html">
                  Permissions
                </a>
              </li>
              <li>
                <a href="/docs/concepts/commands.html">
                  Commands
                </a>
              </li>
            </ul>
          <li class="active">
            <a href="javascript:;">
            <i class="fa fa-cogs"></i>

            <span class="title">
               CLIENT LIBRARY
            </span>
            <span id="nitrogenSelected"></span>
            <span id="nitrogenArrow"></span>
            </a>
            <ul class="sub-menu">
              <li>
                <a href="/docs/nitrogen/index.html">
                  Overview
                </a>
              </li>
              <li>
                <a href="/docs/nitrogen/blob.html">
                  Blob
                </a>
              </li>
              <li>
                <a href="/docs/nitrogen/commandManager.html">
                  CommandManager
                </a>
              </li>
              <li>
                <a href="/docs/nitrogen/device.html">
                  Device
                </a>
              </li>
              <li>
                <a href="/docs/nitrogen/message.html">
                  Message
                </a>
              </li>
              <li>
                <a href="/docs/nitrogen/permission.html">
                  Permission
                </a>
              </li>
              <li>
                <a href="/docs/nitrogen/principal.html">
                  Principal
                </a>
              </li>
              <li>
                <a href="/docs/nitrogen/service.html">
                  Service
                </a>
              </li>
              <li>
                <a href="/docs/nitrogen/session.html">
                  Session
                </a>
              </li>
              <li>
                <a href="/docs/nitrogen/user.html">
                  User
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- END SIDEBAR MENU -->
      </div>
    </div>
    <!-- END SIDEBAR -->

<% end %>

<% wrap_layout :layout do %>
    <%= yield %>
<% end %>