<% content_for :sidebar do %>

    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
      <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu">
          <li class="sidebar-toggler-wrapper">
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <div class="sidebar-toggler hidden-phone">
            </div>
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
          </li>
          <li class="sidebar-search-wrapper">
            <form class="sidebar-search" action="#" id='searchForm'>
              <div class="form-container">
                <div class="input-box">
                  <a href="javascript:;" class="remove"></a>
                  <input id='query' type="text" placeholder="Search..."/>
                  <input type="button" class="submit" value=" "/>
                </div>
              </div>
            </form>
          </li>
          <li id="startTree">
            <a href="javascript:;">
            <i class="fa fa-lightbulb-o"></i>

            <span class="title">
               FIRST STEPS
            </span>
            <span id="startSelected"></span>
            <span id="startArrow"></span>
            </a>
            <ul class="sub-menu">
              <li>
                <a href="/guides/start/setup.html">
                  Setup
                </a>
              </li>
              <li>
                <a href="/guides/start/camera.html">
                  Webcam Device
                </a>
              </li>
              <li>
                <a href="/guides/start/admin.html">
                  Web Admin
                </a>
              </li>
            </ul>
          </li>
          <li id="deviceTree">
            <a href="javascript:;">
            <i class="fa fa-lightbulb-o"></i>

            <span class="title">
                HARDWARE DEVICE
            </span>
            <span id="deviceSelected"></span>
            <span id="deviceArrow"></span>
            </a>
            <ul class="sub-menu">
              <li>
                <a href="/guides/device/setup.html">
                  Setup
                </a>
              </li>
              <li>
                <a href="/guides/device/camera.html">
                  Camera Device
                </a>
              </li>
            </ul>
          </li>
          <li id="appsTree">
            <a href="javascript:;">
            <i class="fa fa-lightbulb-o"></i>

            <span class="title">
                APPLICATIONS
            </span>
            <span id="appsSelected"></span>
            <span id="appsArrow"></span>
            </a>
            <ul class="sub-menu">
              <li>
                <a href="/guides/apps/reactor.html">
                  Reactor
                </a>
              </li>
              <li>
                <a href="/guides/apps/timelapse.html">
                  Timelapse Application
                </a>
              </li>
            </ul>
          </li>
        <!-- END SIDEBAR MENU -->
      </div>
    </div>
    <!-- END SIDEBAR -->

<% end %>

<% wrap_layout :layout do %>
    <%= yield %>
<% end %>